<%- include("partials/header") -%>

<section class="">
  <h1>Fun Projects</h1>
  <div>
    <a href="/fun/love-calculator">Love Calculator</a><br /><br />
    <a href="/fun/bmi-calculator">BMI Calculator</a>
  </div>
</section>
<section>
  <h1>APIs</h1>
  <div>
    <a href="/apiUsage/kanye-quotes">Kanye Quotes</a><br /><br />

    <a href="/apiUsage/check-weather">Weather</a>
  </div>
</section>

<section>
    <h1>Newsletter Signup</h1>
  <a href="/sign-up.html">Sign Up</a>
</section>

<section>
  <h1>TO DO LIST</h1>
  <a href="/to-do-list">HOME</a><br /><br />
  <a href="/to-do-list-work">WORK</a><br />
</section>

<section>
  <h1>Blog Post Challenges</h1>
  <a href="/compose">Create Blog</a>
</section>


<%- include("partials/footer") -%>
