html {
  position: relative;
  min-height: 100%;
}
body{
  margin-bottom: 80px;
}


.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    /* font-size: 12px; */
    letter-spacing: 5px;
}
.navbar-nav li{
  margin: 0 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav  li a {
    text-decoration: none;
    color: inherit;

}
.collapse.navbar-collapse{
  justify-content: flex-end;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
  height: 80px;
	background-color: #1abc9c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  padding-left: 25px;
  margin-top: 25px;
  color: #fff;
}
